
body {
  	margin: 0;
  	line-height: normal;
}

.image-3-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 0;
}
.vermeau-plomberie {
  	margin: 0;
}
.blank-line {
  	margin: 0;
  	font-size: 20px;
  	font-family: Lato;
}
.des-services-de-plomberie-fiab {
  	margin: 0;
  	font-size: 24px;
}
.vermeau-plomberie-des-container1 {
  	width: 100%;
}
.vermeau-plomberie-des-container {
  	width: 1411.5px;
  	position: absolute;
  	margin: 0 !important;
  	top: 218px;
  	left: 262px;
  	color: #202020;
  	display: flex;
  	align-items: center;
  	height: 446px;
  	flex-shrink: 0;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  	z-index: 1;
  	font-size: 64px;
}
.vermeauplomberiegmailcom {
  	position: relative;
  	line-height: 140%;
  	font-weight: 500;
}
.button {
  	width: 356px;
  	margin: 0 !important;
  	position: absolute;
  	top: 541px;
  	left: 511px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	z-index: 2;
  	font-family: Lato;
}
.button1 {
  	width: 208px;
  	margin: 0 !important;
  	position: absolute;
  	top: 541px;
  	left: 262px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	z-index: 3;
  	font-family: Lato;
}
.column {
  	flex: 1;
  	height: 48px;
}
.columns {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
  	z-index: 4;
}
.h1-title-copy-goes {
  	width: 597px;
  	position: relative;
  	font-weight: 500;
  	display: inline-block;
  	height: 154px;
  	flex-shrink: 0;
}
.content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.column2 {
  	flex: 1;
  	height: 161px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.p-lorem-ipsum-dolor-container {
  	width: 704px;
  	position: relative;
  	display: inline-block;
}
.content1 {
  	width: 704px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.span {
  	font-weight: 500;
}
.span1 {
  	font-weight: 600;
  	font-family: Oswald;
  	color: #212121;
}
.satisfaction-client-garantie {
  	margin: 0;
  	font-size: 24px;
  	font-family: Lato;
  	color: #202020;
}
.p-lorem-ipsum-dolor-container1 {
  	width: 704px;
  	position: relative;
  	line-height: 150%;
  	display: inline-block;
}
.content2 {
  	align-self: stretch;
  	height: 122px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 60px;
  	color: #2a306f;
  	font-family: Oswald;
}
.column3 {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 11px;
  	font-size: 10px;
  	color: #202020;
  	font-family: Lato;
}
.container {
  	width: 1555px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 80px;
}
.hero-heading-left {
  	align-self: stretch;
  	height: 340px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: center;
  	padding: 3px 24px 42px;
  	box-sizing: border-box;
  	z-index: 5;
  	font-size: 60px;
  	color: #2a306f;
}
.services {
  	align-self: stretch;
  	position: relative;
  	line-height: 120%;
  	font-weight: 500;
}
.un-accompagnement-fiable {
  	align-self: stretch;
  	position: relative;
  	font-size: 36px;
  	line-height: 150%;
  	font-family: Lato;
  	color: #202020;
}
.content3 {
  	width: 450px;
  	height: 378px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
}
.content-wrapper {
  	width: 420px;
  	height: 378px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: center;
  	font-size: 64px;
  	color: #e64011;
}
.group-icon {
  	width: 150px;
  	position: relative;
  	height: 150px;
}
.fuite-bouchon-ou {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	line-height: 150%;
  	font-weight: 500;
  	font-family: Lato;
}
.content4 {
  	width: 350px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
}
.group-parent {
  	width: 420px;
  	border-radius: 20px;
  	background-color: #f0f8fb;
  	border: 7px solid #2a306f;
  	box-sizing: border-box;
  	height: 600px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 60px;
}
.bathtub-svgrepo-com-1-icon {
  	width: 150px;
  	position: relative;
  	height: 150px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.installation-et-dpannage {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	line-height: 150%;
  	font-weight: 500;
  	font-family: Lato;
  	white-space: pre-wrap;
}
.macbook-pro-16-1 {
  	align-self: stretch;
  	height: 1494px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 182px 60px 465px;
  	box-sizing: border-box;
  	gap: 82px 97px;
  	z-index: 6;
  	color: #2a306f;
}
.h1-title-copy-goes1 {
  	align-self: stretch;
  	position: relative;
  	font-weight: 500;
  	display: inline-block;
  	height: 154px;
  	flex-shrink: 0;
}
.column4 {
  	flex: 1;
  	height: 161px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-end;
}
.container1 {
  	width: 1728px;
  	height: 73px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.hero-heading-left1 {
  	width: 1530px;
  	height: 174px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 24px 64px 225px;
  	box-sizing: border-box;
}
.card-avis-child {
  	width: 188px;
  	position: relative;
  	border-radius: 50%;
  	height: 188px;
  	object-fit: cover;
}
.nom {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 150%;
  	font-weight: 600;
}
.frame-child {
  	width: 24px;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.frame-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 2px 0px;
  	gap: 12px;
}
.lorem-ipsum-dolor-container {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	letter-spacing: -0.02em;
  	line-height: 150%;
  	font-weight: 500;
  	font-family: Lato;
  	text-align: left;
}
.nom-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 24px;
  	gap: 18px;
}
.card-avis1 {
  	width: 434px;
  	box-shadow: 0px 4px 26.6px 7px rgba(17, 17, 17, 0.2);
  	border-radius: 20px;
  	height: 630px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 24px 0px;
  	box-sizing: border-box;
  	gap: 18px;
  	min-height: 540px;
}
.card-avis {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.testimonial-stack {
  	width: 1728px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 64px 24px;
  	box-sizing: border-box;
  	gap: 110px;
  	margin-top: -65px;
  	position: relative;
  	text-align: center;
  	font-size: 24px;
  	color: #2a306f;
}
.footer {
  	align-self: stretch;
  	height: 960px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 64px 24px 8px;
  	box-sizing: border-box;
  	z-index: 7;
  	font-size: 64px;
  	color: #e64011;
}
.image-4-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 8;
}
.en-panne {
  	width: 1054px;
  	position: relative;
  	font-size: 48px;
  	line-height: 120%;
  	font-weight: 500;
  	font-family: Oswald;
  	display: inline-block;
  	flex-shrink: 0;
}
.jinterviens-rapidement {
  	width: 979px;
  	position: relative;
  	line-height: 150%;
  	font-family: Inter;
  	display: inline-block;
  	flex-shrink: 0;
}
.button2 {
  	width: 208px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	text-align: left;
}
.button3 {
  	width: 356px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	text-align: left;
}
.content10 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 24px;
}
.small-container {
  	width: 1054px;
  	margin: 0 !important;
  	position: absolute;
  	top: 4065px;
  	left: 338px;
  	border-radius: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	box-sizing: border-box;
  	z-index: 9;
  	text-align: center;
  	font-family: Lato;
}
.accueil {
  	width: 100%;
  	position: relative;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	background-image: url('Accueil.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
  	text-align: left;
  	font-size: 24px;
  	color: #f0f8fb;
  	font-family: Oswald;
}

