<section class="final-section" style="background-image: url('{{ .Params.bottom_image | relURL }}');">

  <div class="final-content">
    <h2 class="final-title">{{ .Params.bottom_cta_title }}</h2>
    <h3 class="final-title">{{ .Params.bottom_cta_title_add_ligne }}</h3>
    <p class="final-subtitle">{{ .Params.bottom_cta_subtitle }}</p>
    <div class="bottom-contact-buttons">
      <a href="tel:{{ .Params.contact_phone }}" class="btn button-primary">{{ .Params.contact_phone }}</a>
      <a href="mailto:{{ .Params.contact_email }}" class="btn button-secondary">{{ .Params.contact_email }}</a>
    </div>
  </div>
</section>
