<section class="bottom-cta-section" style="background-image: url('{{ .Params.bottom_image | relURL }}');">

  <div class="bottom-cta-content-wrapper container tc">
    <h2 class="bottom-cta-title">{{ .Params.bottom_cta_title }}</h2>
    <p class="bottom-cta-subtitle">{{ .Params.bottom_cta_subtitle }}</p>
    <div class="bottom-contact-buttons">
      <a href="tel:{{ .Params.contact_phone }}" class="btn button-primary">{{ .Params.contact_phone }}</a>
      <a href="mailto:{{ .Params.contact_email }}" class="btn button-secondary">{{ .Params.contact_email }}</a>
    </div>
  </div>
</section>
