<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between items-center">
    <div class="flex-1 flex items-center">
      <a class="f4 fw4 hover-white white-70 dib pv2 ph3 no-underline flex items-center" href="{{ .Site.Home.Permalink }}">
        {{ with .Site.Params.site_logo }}
          <img src="{{ urls.RelURL . }}" class="h2 w-auto mr2" alt="{{ $.Site.Title }}" />
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </a>
    </div>
    <div class="flex-1 tc">
      <span class="white-70 f6">&copy; {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }} {{ now.Format "2006"}} {{ end }}</span>
    </div>
    <div class="flex-1 tr">
      <div class="mb2 tl">
        <span class="db white-80 f5 fw5">Contact</span>
        <span class="db white-70 f6">Du lundi au vendredi</span>
        <a href="tel:0789500369" class="db white-70 f6 underline">07 89 50 03 69</a>
        <a href="mailto:vermeauplomberie@gmail.com" class="db white-70 f6 underline">vermeauplomberie@gmail.com</a>
      </div>
      <div>{{ partials.IncludeCached "social/follow.html" . }}</div>
    </div>
  </div>
</footer>
