.image-9-icon {
  	width: 1728px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 0;
}
.rnovations-de-salle {
  	width: 1411.5px;
  	position: absolute;
  	margin: 0 !important;
  	top: 160px;
  	left: 258px;
  	font-size: 64px;
  	font-family: Oswald;
  	display: flex;
  	align-items: center;
  	height: 446px;
  	flex-shrink: 0;
  	text-shadow: 0px 4px 11.8px #000;
  	z-index: 1;
}
.vermeauplomberiegmailcom {
  	position: relative;
  	line-height: 140%;
  	font-weight: 500;
}
.button {
  	width: 356px;
  	margin: 0 !important;
  	position: absolute;
  	top: 451px;
  	left: 507px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	z-index: 2;
}
.button1 {
  	width: 208px;
  	margin: 0 !important;
  	position: absolute;
  	top: 451px;
  	left: 258px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	z-index: 3;
}
.column {
  	flex: 1;
  	height: 48px;
}
.columns {
  	align-self: stretch;
  	height: 24px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
  	z-index: 4;
}
.rnovations-de-salle1 {
  	align-self: stretch;
  	position: relative;
  	line-height: 120%;
  	font-weight: 500;
}
.une-salle-de {
  	align-self: stretch;
  	position: relative;
  	font-size: 36px;
  	line-height: 150%;
  	font-family: Lato;
  	color: #202020;
}
.content {
  	width: 1330px;
  	height: 378px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 77px;
  	box-sizing: border-box;
  	gap: 24px;
}
.content-wrapper {
  	width: 1516px;
  	height: 53px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: center;
}
.group-icon {
  	width: 250px;
  	position: relative;
  	height: 250px;
}
.envie-dun-espace {
  	align-self: stretch;
  	position: relative;
  	line-height: 150%;
  	font-weight: 500;
  	display: inline-block;
  	height: 170px;
  	flex-shrink: 0;
}
.des-travaux-sur {
  	align-self: stretch;
  	position: relative;
  	font-size: 36px;
  	line-height: 120%;
  	font-weight: 500;
  	font-family: Oswald;
}
.chaque-projet-est {
  	align-self: stretch;
  	position: relative;
  	line-height: 150%;
  	font-weight: 500;
  	display: inline-block;
  	height: 145px;
  	flex-shrink: 0;
}
.remplacement-de-baignoire {
  	margin-bottom: 0px;
}
.remplacement-de-baignoire-ou-d {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 32px;
}
.remplacement-de-baignoire-container {
  	align-self: stretch;
  	position: relative;
  	line-height: 200%;
  	font-weight: 500;
  	display: inline-block;
  	height: 350px;
  	flex-shrink: 0;
}
.consultez-mes-ralisations {
  	align-self: stretch;
  	position: relative;
  	line-height: 150%;
  	font-weight: 500;
  	display: inline-block;
  	height: 96px;
  	flex-shrink: 0;
}
.button2 {
  	width: 208px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	color: #f0f8fb;
}
.content1 {
  	width: 1058px;
  	height: 1182px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
}
.group-parent {
  	width: 1367px;
  	box-shadow: 8px 15px 26.8px rgba(42, 48, 111, 0.5);
  	border-radius: 20px;
  	background-color: #f0f8fb;
  	border: 7px solid #2a306f;
  	box-sizing: border-box;
  	height: 1629px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 100px 0px;
  	gap: 60px;
  	font-size: 24px;
  	color: #2a306f;
  	font-family: Lato;
}
.macbook-pro-16-1 {
  	align-self: stretch;
  	height: 2158px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 182px 60px 465px 72px;
  	box-sizing: border-box;
  	gap: 82px 74px;
  	z-index: 5;
  	font-size: 64px;
  	color: #e64011;
  	font-family: Oswald;
}
.image-4-icon {
  	width: 2279px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 6;
}
.un-projet-en {
  	margin: 0;
}
.span {
  	text-transform: uppercase;
}
.un-projet-en-container {
  	width: 1054px;
  	position: relative;
  	font-size: 48px;
  	line-height: 150%;
  	font-weight: 500;
  	font-family: Oswald;
  	display: inline-block;
  	flex-shrink: 0;
}
.jinterviens-rapidement {
  	width: 979px;
  	position: relative;
  	line-height: 150%;
  	font-family: Inter;
  	display: inline-block;
  	flex-shrink: 0;
}
.button3 {
  	width: 208px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	text-align: left;
}
.button4 {
  	width: 356px;
  	border-radius: 8px;
  	background-color: #e64011;
  	border: 1px solid #e64011;
  	box-sizing: border-box;
  	height: 49px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	text-align: left;
}
.content2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 24px;
}
.small-container {
  	width: 1054px;
  	margin: 0 !important;
  	position: absolute;
  	top: 3319px;
  	left: 328px;
  	border-radius: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	box-sizing: border-box;
  	z-index: 7;
  	text-align: center;
}
.servicesrnovations-de-salle {
  	width: 100%;
  	position: relative;
  	height: 3836px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	background-image: url('Services/Rénovations de salle.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
  	text-align: left;
  	font-size: 24px;
  	color: #f0f8fb;
  	font-family: Lato;
}

